/* .btn {
    padding: 5px 15px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background: #a5a5a5ca;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;

    display: block;
    width: 100%;
    height: 25px;
    margin: 1px auto;
} */